################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TesteImposto/Imposto.Core/bin/Debug
/TesteImposto/Imposto.Core/obj/Debug
/TesteImposto/TesteImposto/bin/Debug
/TesteImposto/TesteImposto/obj/Debug
/TesteImposto/Imposto.Core/obj/Debug
/TesteImposto/TesteImposto/obj/Debug
/TesteImposto/.vs/TesteImposto/v15
